.lobby {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    header {
        margin-bottom: .5em;
    }

    .player {
        display: block;
        margin-bottom: 0.8em;
        padding: 12px 15px;
        width: calc(10em + 0.1vmin);
    }

    .status {
        &,
        * {
            text-align: center;
        }
    }
}